.bashrc
.bash_profile
.bash_history
.bash_logout
.gitconfig
.git-credentials
config_*.xml
config/services.yml
mails/*
!mails/index.php
!mails/en/*
!mails/en
!mails/cs/*
!mails/cs
!mails/de/*
!mails/de
!mails/pl/*
!mails/pl
!mails/pt/*
!mails/pt
!mails/vn/*
!mails/vn
!mails/fr/*
!mails/fr
!mails/es/*
!mails/es
!mails/it/*
!mails/it
!mails/he/*
!mails/he
!views/import
views/import/*
!views/import/index.php
.bashrc
.bash_logout
.bash_profile
.bash_history
.gitconfig
.git-credentials
bin/*
.idea
translations/*
!translations/en.php
!translations/es.php
!translations/fr.php
!translations/it.php
!translations/de.php
!translations/pl.php
!translations/pt.php
!translations/cs.php
!translations/nl.php
!translations/ru.php
!translations/index.php
tests